

.centered-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    padding: 50px;
}

.task-manager-container{
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 680px;
}
.sidebar{
    display: flex;
    flex-direction: column;
    
    width: 250px;
    background-color: hsl(315, 63%, 78%);
    
    padding: 42px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    
}

.tasks-list-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    padding: 42px;
    border-radius: 8px;

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    background: rgb(241, 199, 207);


}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgb(253, 246, 253)
}

.list-menu {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    flex-grow: 1;
    
}
.list-menu-item{
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    width: 100%;
    color: #5f5f5f;
    margin-bottom: 5px;

}
.list-menu-item li:hover{
    background:white
}

.list-menu-item li:is-active
{
    background:black
    
}

.task{
    background-color: rgb(238, 212, 232);
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 10px;
   


}

.task:not(.complete){
    cursor: pointer;
    transition: box-shadow 0.2s ease, transform 0.5s ease;



}

.task:not(.complete):hover{
    box-shadow:  0 0 0 5px rgba(214, 209, 209, 0.933);
}
.task:not(.complete):active{
    transform: scale(0.95);
}

.task.complete{
    text-decoration: line-through;
}

.button{
    font-family: Serif
}